<!DOCTYPE html>
<html>
    <head>
        <title>About Career Suggestion</title>
        <link rel="stylesheet" type="css" href="{{ url_for('static',filename='styles/about.css') }}">
        <link rel="stylesheet" href="static\styles\about.css">

    </head>
    <body>
        <div class="main_heading">
            Career Suggestion
        </div>
        <div class="page_links">
            <a class="link_to_personality_types" href="#all_personality_types">Personality Types</a>
        </div>
        <div class="header">

            <form class="home_button" action="Home" method="post">
                <button type="submit">Home</button>
            </form>
            <form class="about_button" action="{{url_for('about')}}" method="post">
                <button type="submit">about</button>
            </form>
        </div>
        <span>
            <br>
            <strong style="font-size: 30px;">Myers–Briggs Type Indicator</strong>
            <br>
            The rise of social media as a platform for self-expression and self-understanding has led to increased
            interest in using the Myers–Briggs Type Indicator (MBTI) to explore human personalities. Despite this,
            there needs to be more research on how other word- embedding techniques, machine learning
            algorithms, and imbalanced data-handling techniques can improve the results of MBTI personality-type
            predictions. Our research aimed to investigate the efficacy of these techniques by utilizing the
            Word2Vec model to obtain a vector representation of words in the corpus data. We implemented
            several machine learning approaches, including logistic regression, linear support vector classification,
            stochastic gradient descent, random forest, the extreme gradient boosting classifier, and the cat
            boosting classifier. In addition, we used the synthetic minority oversampling technique (SMOTE) to
            address the issue of imbalanced data. The results showed that our approach could achieve a relatively
            high F1 score (between 0.7383 and 0.8282), depending on the chosen model for predicting and
            classifying MBTI personality. Furthermore, we found that using SMOTE could improve the selected
            models’ performance (F1 score between 0.7553 and 0.8337), proving that the machine learning
            approach integrated with Word2Vec and SMOTE could predict and classify MBTI personality well,
            thus enhancing the understanding of MBTI. <br> <br>

            <strong style="font-size: 25px;">The MBTI is based on four dichotomies:</strong> 
            <br>
            <strong>1. Extraversion (E) vs. Introversion (I):</strong>  This dichotomy reflects how individuals direct
            their energy. Extraverts are energized by interacting with others and the external world,
            while introverts are energized by spending time alone and focusing on their inner
            thoughts and feelings. <br>
            <strong>2. Sensing (S) vs. Intuition (N):</strong> This dichotomy represents how individuals gather
            information. Sensors rely on their five senses and are more focused on concrete details
            and practical realities, while Intuitives are more focused on patterns, possibilities, and
            abstract concepts. <br>
            <strong>3. Thinking (T) vs. Feeling (F):</strong> This dichotomy reflects how individuals make decisions.
            Thinkers tend to make decisions based on logic and objective analysis, while Feelers
            make decisions based on their values, emotions, and the impact on others. <br>
            <strong>4. Judging (J) vs. Perceiving (P):</strong> This dichotomy represents how individuals approach
            the outside world. Judgers prefer structure, organization, and planning, while Perceivers
            prefer flexibility, spontaneity, and adaptability.
        </span>
        <div class="img_container">
            <img src="static\mbti_types.jpg">
        </div>
        <span id="all_personality_types">
        <strong style="font-size: 30px;">Personality Types</strong>
            <details><summary><strong>1.ENFJ - 'The teacher'</strong></summary>
                ENFJs are people-oriented individuals who like generating opportunities to assist others in their long-term growth. They understand the perspectives of others and have the communication skills required in many professions, particularly teaching and counseling. ENFJs appreciate surroundings that provide variety, problem solving, a focus on the future, and opportunity to serve others and fulfill their humanitarian beliefs.
                <br>
                <strong>Careers -</strong>
                Counseling/Psychology,
                Human Resources,
                Social Work,
                Teaching/Education,
                Nonprofit Management,
                Public Relations/Communications,
                Healthcare Administration,
                Event Planning/Managemen,
                Life Coaching,
                Conflict Resolution/Mediation,

            </details>
            <details><summary><strong>2.ENFP - 'The champion'</strong></summary>
                ENFPs are creative, energetic, outgoing, service-oriented individuals with well-developed verbal and written communication skills. ENFPs are the driving force that makes things happen and therefore are natural leaders. They work logically and rationally, and they are unique problem solvers. They are intuitive and perceptive about people and make good team players. Possessing a broad range of skills and talents, ENFPs often change careers several times. They seek out careers not confined by strict schedules and mundane tasks but provide a flexible environment that challenges them with new opportunities to see their innovations become reality. 
                <br>
                <strong>CAREERS -</strong>
                Creative Arts,
                Public Relations/Marketing,
                Entrepreneurship,
                Counseling/Psychology,
                Teaching/Training,
                Human Resources/Recruiting,
                Event Planning,
                Social Work/Community Advocacy,
                Journalism/Media,
                Consulting,
            </details>
            <details><summary><strong>3.ENTJ - ‘The Commander’</strong></summary>
                ENTJs are natural-born leaders with strong desires to create order within organizations. They make decisions quickly, are very career-focused, and fit well into the corporate world. Since they like to be in charge—and need to be in charge to take advantage of their exceptional leadership skills—ENTJs are usually successful in the business world. Ideally, ENTJs should choose a career that allows them to creatively solve problems and enforce structure.
                <br>
                <strong>CAREERS -</strong>
                Executive/Management Positions,
                Entrepreneurship,
                Business Consulting,
                Management Consulting,
                Engineering,
                Military/Defense,
                Education Administration,
                Politics/Government,
            </details>
            <details><summary><strong>4.ENTP – ‘The Visionary’</strong></summary>
                ENTPs are idea people with a wide range of capabilities and interests. Able to grasp difficult concepts and theories, ENTPs are logical thinkers and creative problem solvers. They are natural leaders capable of inspiring others to buy ideas. They often choose careers that allow them the personal freedom to use their creativity to generate new ideas and solve problems in a casual environment, where rules and restrictions are kept to a minimum.
                <br>
                <strong>CAREERS -</strong>
                Software Development,
                Creative Arts,
                Research,
                Journalism,
                Marketing,
                Entrepreneurship,
            </details>
            <details><summary><strong>5.ESFJ – ‘The Provider’</strong></summary>
                ESFJs are warm, energetic, people persons. They are hard-working, organized, conscientious, and enjoy being part of a cooperative team. ESFJs are driven by a desire to lead and help people in practical ways. They often choose careers where they can observe others’ needs and organize a plan to meet those needs.
                <br>
                <strong>CAREERS -</strong>
                Healthcare Professional,
                Teaching,
                Human Resources Manager,
                Event Planner,
                Social Worker,
                Hospitality Management,
                Administrative Assistant,
                Counselor or Therapist,
                Community Organizer,
                Sales and Marketing,
            </details>
            <details><summary><strong>6.ESFP – ‘The Performer’</strong></summary>
                ESFPs thrive on new experiences and having a lot of contact with people. Possessing strong people skills, they tend to choose careers that allow them to help people in practical ways and often find themselves in the role of peacemaker. ESFPs enjoy work that is independent, resourceful, and allows them to have plenty of hands-on involvement and see the results of their efforts. They are great communicators, collaborators, and team players. 
                <br>
                <strong>CAREERS -</strong>
                Performing Arts,
                Event Planning/Management,
                Hospitality Industry,
                Sales and Marketing,
                Entertainment Industry,
                Teaching/Training,
                Fitness and Wellness,
                Fashion and Design,
                Travel Industry,
            </details>
            <details><summary><strong>7.ESTJ – ‘The Supervisor’</strong></summary>
                ESTJs focus on facts and concrete needs. They are analytical, conscientious, decisive, direct, efficient, responsible, and fact-minded individuals. ESTJs thrive in an environment built on order and continuity with explicit rules, expectations, and standards to follow. Leadership roles come easily for the ESTJ personality type, and they enjoy results-oriented work of a practical nature. 
                <br>
                <strong>CAREERS -</strong>
                Management or Leadership Roles,
                Business Administration,
                Law Enforcement or Military,
                Financial Management,
                Engineering,
                Education Administration,
                Healthcare Management,
                Sales Management,
                Legal Professions,
                Government Administration,
            </details>
            <details><summary><strong>8.ESTP – ‘The Promoter’</strong></summary>
                ESTPs are outgoing, enthusiastic doers, who live in a world of action. They have excellent people skills and the ability to quickly size up a situation and act accordingly. They have a special ability to react quickly in an emergency or crisis situation. ESTPs tend to choose careers that allow a lot of interaction with people in a fast-paced environment and do not require a lot of routine, detailed tasks. ESTPs are excellent sales people. 
                <br>
                <strong>CAREERS -</strong>
                Entrepreneurship,
                Sales Representative,
                Marketing Specialist,
                Emergency Services,
                Sports Management,
                Construction or Skilled Trades,
                Entertainment Industry,
                Real Estate Agent,
                Military or Law Enforcement,
            </details>
            <details><summary><strong>9.INFJ – ‘The Counselor’</strong></summary>
                INFJs have great insight into people and situations. They are creative with deep feelings and strong convictions that guide their lives. Strongly humanitarian in outlook, INFJs tend to be idealists, and they are generally doers as well as dreamers. They often choose careers that allow them to use their inner vision, their ability to establish and maintain harmonious relationships, their creativity, and their strong oral and written communication skills.
                <br>
                <strong>CAREERS -</strong>
                Counselor/Therapist,
                Psychologist,
                Social Worker,
                Writer/Author,
                Artist/Designer,
                Teacher/Professor,
                History,
                Human Resource Management,
                Interior Design,
            </details>
            <details><summary><strong>10.INFP – ‘The Healer’</strong></summary>
                Focused on making the world a better place, INFPs are both idealists and perfectionists. INFPs possess strong value systems, are future-oriented, creative, and highly religious or philosophical individuals. Driven to meet the needs of others, INFPs tend to choose creative or human service-oriented careers that allow them to use their instinctive sense of empathy and remarkable communication skills. 
                <br>
                <strong>CAREERS -</strong>
                Creative Arts,
                Counseling/Psychotherapy,
                Social Work,
                Teaching,
                Healthcare Professions,
                Coach,
                College Professor,
                Composer,
                Curator,
            </details>
            <details><summary><strong>11.INTJ – ‘The Mastermind’</strong></summary>
                INTJs are strong individuals who seek new ways of looking at things. They are insightful and enjoy coming to new understandings. They often keep to themselves a great deal and are considered the most independent of all the 16 personality types. They are self-confident and prefer to look to the future rather than the past. They are builders of systems and appliers of theoretical models and focus on possibilities. They tend to prefer careers in which they are given a lot of autonomy.
                <br>
                <strong>CAREERS -</strong>
                Strategic Planner/Management Consultant,
                Scientist/Researcher,
                Engineer/Software Developer,
                Entrepreneur/Business Owner,
                Financial Analyst/Investment Banker,
                Lawyer/Legal Consultant,
                Academic/Professor,
                Project Manager,
            </details>
            <details><summary><strong>12.INTP – ‘The Architect’</strong></summary>
                INTPs are architects of creative ideas and systems. Preferring theoretical rather than practical applications, INTPs love theory and abstract ideas. They are future-oriented and value truth, knowledge, and competence. INTPs usually prefer working in technical fields that provide the opportunities to apply logic to theories to find solutions and develop innovative approaches and systems. They prefer professionalism in a work environment that encourages freethinking, independence, and improvisation.
                <br>
                <strong>CAREERS -</strong>
                Scientist/Researcher,
                Software Developer/Engineer,
                Architect/Urban Planner,
                Philosopher/Philosophy Professor,
                Mathematician/Statistician,
                Writer/Content Creator,
                Consultant/Analyst,
                University Professor/Researcher,
                Entrepreneur/Startup Founder,
                Systems Analyst/IT Specialist,
            </details>
            <details><summary><strong>13.ISFJ – ‘The Protector’</strong></summary>
                ISFJs, above all, desire to serve others. They are warm, kindhearted individuals, who bring an aura of quiet warmth, caring, and dependability to all that they do. They are hard-working and conscientious individuals prone to be quiet and serious. ISFJs tend to choose careers in which they can use their exceptional people-observation skills to determine what people want or need and then use their exceptional organizational abilities to create a structured plan to fulfill the need. Their excellent sense of space and function combined with their awareness of aesthetic quality also gives them special abilities in practical artistic endeavors, such as interior and fashion design.
                <br>
                <strong>CAREERS -</strong>
                Healthcare,
                Education,
                Social Work,
                Counseling/Psychology,
                Human Resources,
                Administrative Roles,
                Hospitality and Service Industry,
            </details>
            <details><summary><strong>14.ISFP – ‘The Composer’</strong></summary>
                ISFPs live in a world of sensational possibilities and are in tune with the way things look, taste, sound, feel, and smell. They have a strong aesthetic appreciation for art, and they are likely to be artists in some form because they are gifted at creating things that affect the senses. ISFPs are quiet, reserved, perceptive, and sympathetic individuals with little desire to lead or control others. They usually choose careers where they are given a great deal of autonomy so their natural artistic abilities can operate at their best and allow them to be consistent with their strong core of inner values. ISFPs are natural artists, counselors, and teachers. They rarely enjoy the fast-paced corporate world.
                <br>
                <strong>CAREERS -</strong>
                Graphic Designer/Visual Artist,
                Fashion Designer/Stylist,
                Interior Designer,
                Photographer/Videographer,
                Musician/Composer,
                Park Ranger/Outdoor Guide,
            </details>
            <details><summary><strong>15.ISTJ – ‘The Inspector’</strong></summary>
                ISTJs are dependable and perseverant. They are quiet, serious, responsible, loyal individuals, who believe in time-honored laws and traditions. They possess a deep desire to promote security and peaceful living. Usually preferring to work alone, ISTJs do best in careers in which they can use their organizational skills and powers of concentration to create order and structure and therefore fit well into management positions.
                <br>
                <strong>CAREERS -</strong>
                Accountant/Financial Analyst,
                Project Manager,
                Engineer (Various Fields),
                Healthcare Administrator,
                Quality Assurance/Compliance Officer,
                Logistics/Supply Chain Manager,
                Librarian/Archivist,
                Human Resources Manager,
                Immigration and Customs Inspector,
                Industrial Safety and Health Engineer,
            </details>
            <details><summary><strong>16.ISTP – ‘The Crafter’</strong></summary>
                With a compelling drive to understand how and why things work, ISTPs are action-oriented doers focused on the present. They are practical, realistic, and possess an excellent ability to apply logic and reason. They are masters of tools from the microscopic drill to the supersonic jet, and they are happiest in careers that allow them to use technical skills and tools to problem solve, troubleshoot, or manage a crisis. As leaders, ISTPs are usually up-front leading the charge.
                <br>
                <strong>CAREERS -</strong>
                Mechanic/Automotive Technician,
                Engineer (Mechanical, Electrical, or Civil),
                Computer Programmer/Software Developer,
                Pilot/Aircraft Mechanic,
                Forensic Scientist,
                Emergency Medical Technician (EMT) or Paramedic,
                Construction Manager,
                Freelancer/Consultant,
            </details>
            
            
            
            
            
            
            
            
            
            
            
            




        </span>
    </body>
</html>