<!DOCTYPE html>
<html>
    <head>
        <title>Career Suggestion</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Purple+Purse&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="css" href="{{ url_for('static',filename='styles/home.css') }}">
        <link rel="stylesheet" href="static\styles\home.css">
    </head>
    <body>

        <div class="main_heading">Career Suggestion</div>

        <div class="header">
            <form class="home_button" action="Home" method="post">
                <button class="home_button" type="submit">Home</button>
            </form>
            <form class="about_button" action="{{url_for('about')}}" method="post">
                <button type="submit">about</button>
            </form>
        </div>
        <br>
        <div>
            <u class="Instructions_part">INSTRUCTIONS</u>
            
            <p>&#183; Write about yourself in the text area and Fill it as much as possible(300 words)</p>
            <p>&#183; Answer as many questions in the questionnaire as possible (Sections 1 - 6)</p>
            <p>&#183; The accuracy of the suggestion is dependent on the amount of information provided by you</p>
            <p>&#183; You can resize the textarea pressing and holding the bottom-right corner the textarea</p>
        </div>
        <br>
        <div class="questionnaire_and_result">
            
            <div class="questionnaire">
                <form action="{{url_for('predict')}}" method="post">
                    <u class="textarea_heading">Write about yourself</u>
                    <textarea class="textarea_for_userdescription" type="text" id="userdes" name="userdes" placeholder="write user desciption"></textarea>
                    <button class="predict_button_top" type="submit">Suggest</button>   
                    <br>
                    <div>
                        <u class="questionnaire_heading">Questionnaire</u>
                        <label class="Section_1" for="Section_1">Section 1</label>
                        <input type="checkbox" id="Section_1" style="display:none;">
                        <div id="hidden">
                            <p class="agree_diagree">Agree Disagree</p>

                            <label class="personality_question" for="q1">You make friends often.</label>
                            <input class="personality_answer_agree" type="radio" name="q1" id="q1" value="I make friends often.">
                            <input class="personality_answer_disagree" type="radio" name="q1" id="q2" value="I don't make friends often.">
                            
                            <br>
                            <label class="personality_question" for="q2">You lilke exploring.</label>
                            <input class="personality_answer_agree" type="radio" name="q2" id="q2" value="I like exploring.">
                            <input class="personality_answer_disagree" type="radio" name="q2" id="q2" value="I don't like exploring.">
                            
                            <br>
                            <label class="personality_question" for="q3">Complex and novel ideas excite you more than simple and straightforward ones.</label>
                            <input class="personality_answer_agree" type="radio" name="q3" id="q3" value="Complex and novel ideas excite me more than simple and straightforward ones.">
                            <input class="personality_answer_disagree" type="radio" name="q3" id="q3" value="Complex and novel ideas don't excite me more than simple and straightforward ones.">
                            
                            <br>
                            <label class="personality_question" for="q4">You usually feel more persuaded by what resonates emotionally with you than by factual arguments.</label>
                            <input class="personality_answer_agree" type="radio" name="q4" id="q4" value="I am usually feel more persuaded by what resonates emotionally with you than by factual arguments.">
                            <input class="personality_answer_disagree" type="radio" name="q4" id="q4" value="I am not usually feel more persuaded by what resonates emotionally with you than by factual arguments.">
                            
                            <br>
                            <label class="personality_question" for="q5">Your living and working spaces are clean and organized.</label>
                            <input class="personality_answer_agree" type="radio" name="q5" id="q5" value="My living and working spaces are clean and organized.">
                            <input class="personality_answer_disagree" type="radio" name="q5" id="q5" value="My living and working spaces aren't clean and organized.">
                            
                            <br>
                            <label class="personality_question" for="q6">You usually stay calm, even under a lot of pressure.</label>
                            <input class="personality_answer_agree" type="radio" name="q6" id="q6" value="I am usually stay calm, even under a lot of pressure.">
                            <input class="personality_answer_disagree" type="radio" name="q6" id="q6" value="I am not usually stay calm, even under a lot of pressure.">
                            
                            <br>
                            <label class="personality_question" for="q7">You find the idea of networking or promoting yourself to strangers very daunting.</label>
                            <input class="personality_answer_agree" type="radio" name="q7" id="q7" value="I find the idea of networking or promoting yourself to strangers very daunting.">
                            <input class="personality_answer_disagree" type="radio" name="q7" id="q7" value="I don't find the idea of networking or promoting yourself to strangers very daunting.">
                            
                            <br>
                            <label class="personality_question" for="q8">You prioritize and plan tasks effectively, often completing them well before the deadline.</label>
                            <input class="personality_answer_agree" type="radio" name="q8" id="q8" value="I prioritize and plan tasks effectively, often completing them well before the deadline.">
                            <input class="personality_answer_disagree" type="radio" name="q8" id="q8" value="I don't prioritize and plan tasks effectively, often completing them well before the deadline.">
                            
                            <br>
                            <label class="personality_question" for="q9">You are willing to give up a good opportunity if you believe someone else needs it more.</label>
                            <input class="personality_answer_agree" type="radio" name="q9" id="q9" value="I am willing to give up a good opportunity if I believe someone else needs it more.">
                            <input class="personality_answer_disagree" type="radio" name="q9" id="q9" value="I am not willing to give up a good opportunity even if I believe someone else needs it more.">
                            
                            <br>
                            <label class="personality_question" for="q10">You like to use organizing tools like schedules and lists.</label>
                            <input class="personality_answer_agree" type="radio" name="q10" id="q10" value="I like to use organizing tools like schedules and lists.">
                            <input class="personality_answer_disagree" type="radio" name="q10" id="q10" value="I don't like to use organizing tools like schedules and lists.">
                            
                        </div>

                        <label class="Section_2" for="Section_2">Section 2</label>
                        <input type="checkbox" id="Section_2" style="display:none;">
                        <div id="hidden">
                            <p class="agree_diagree">Agree Disagree</p>

                            <br>
                            <label class="personality_question" for="q11">Even a small mistake can cause you to doubt your overall abilities and knowledge.</label>
                            <input class="personality_answer_agree" type="radio" name="q11" id="q11" value="Even a small mistake can cause me to doubt my overall abilities and knowledge.">
                            <input class="personality_answer_disagree" type="radio" name="q11" id="q11" value="Small mistakes can't cause me to doubt my overall abilities and knowledge.">
                            
                            <br>
                            <label class="personality_question" for="q12">You feel comfortable just walking up to someone you find interesting and striking up a conversation.</label>
                            <input class="personality_answer_agree" type="radio" name="q12" id="q12" value="I feel comfortable just walking up to someone you find interesting and striking up a conversation.">
                            <input class="personality_answer_disagree" type="radio" name="q12" id="q12" value="I don't feel comfortable just walking up to someone you find interesting and striking up a conversation.">
                            
                            <br>
                            <label class="personality_question" for="q13">You are not too interested in discussions about various interpretations of creative works.</label>
                            <input class="personality_answer_agree" type="radio" name="q13" id="q13" value="I am not too interested in discussions about various interpretations of creative works.">
                            <input class="personality_answer_disagree" type="radio" name="q13" id="q13" value="I am interested in discussions about various interpretations of creative works.">
                            
                            <br>
                            <label class="personality_question" for="q14">You prioritize facts over people's feelings when determining a course of action.</label>
                            <input class="personality_answer_agree" type="radio" name="q14" id="q14" value="I prioritize facts over people's feelings when determining a course of action.">
                            <input class="personality_answer_disagree" type="radio" name="q14" id="q14" value="I don't prioritize facts over people's feelings when determining a course of action.">
                            
                            <br>
                            <label class="personality_question" for="q15">You often allow the day to unfold without any schedule at all.</label>
                            <input class="personality_answer_agree" type="radio" name="q15" id="q15" value="I often allow the day to unfold without any schedule at all.">
                            <input class="personality_answer_disagree" type="radio" name="q15" id="q15" value="i don't often allow the day to unfold without any schedule at all.">
                            
                            <br>
                            <label class="personality_question" for="q16">You rarely worry about whether you make a good impression on people you meet.</label>
                            <input class="personality_answer_agree" type="radio" name="q16" id="q16" value="I rarely worry about whether I make a good impression on people I meet.">
                            <input class="personality_answer_disagree" type="radio" name="q16" id="q16" value="I worry lot about whether I make a good impression on people I meet.">
                            
                            <br>
                            <label class="personality_question" for="q17">You enjoy participating in team-based activities.</label>
                            <input class="personality_answer_agree" type="radio" name="q17" id="q17" value="I enjoy participating in team-based activities.">
                            <input class="personality_answer_disagree" type="radio" name="q17" id="q17" value="I don't enjoy participating in team-based activities.">
                            
                            <br>
                            <label class="personality_question" for="q18">You enjoy experimenting with new and untested approaches.</label>
                            <input class="personality_answer_agree" type="radio" name="q18" id="q18" value="I enjoy experimenting with new and untested approaches.">
                            <input class="personality_answer_disagree" type="radio" name="q18" id="q18" value="I don't enjoy experimenting with new and untested approaches.">
                            
                            <br>
                            <label class="personality_question" for="q19">You prioritize being sensitive over being completely honest.</label>
                            <input class="personality_answer_agree" type="radio" name="q19" id="q19" value="I prioritize being sensitive over being completely honest.">
                            <input class="personality_answer_disagree" type="radio" name="q19" id="q19" value="I don't prioritize being sensitive over being completely honest.">
                            
                            <br>
                            <label class="personality_question" for="q20">You actively seek out new experiences and knowledge areas to explore.</label>
                            <input class="personality_answer_agree" type="radio" name="q20" id="q20" value="I actively seek out new experiences and knowledge areas to explore.">
                            <input class="personality_answer_disagree" type="radio" name="q20" id="q20" value="I don't actively seek out new experiences and knowledge areas to explore.">
                            
                        </div>

                        <label class="Section_3" for="Section_3">Section 3</label>
                        <input type="checkbox" id="Section_3" style="display:none;">
                        <div id="hidden">
                            <p class="agree_diagree">Agree Disagree</p>
                            
                            <br>
                            <label class="personality_question" for="q21">You are prone to worrying that things will take a turn for the worse.</label>
                            <input class="personality_answer_agree" type="radio" name="q21" id="q21" value="I am prone to worrying that things will take a turn for the worse.">
                            <input class="personality_answer_disagree" type="radio" name="q21" id="q21" value="I am not prone to worrying that things will take a turn for the worse.">
                            
                            <br>
                            <label class="personality_question" for="q22">You enjoy solitary hobbies or activities more than group ones.</label>
                            <input class="personality_answer_agree" type="radio" name="q22" id="q22" value="I enjoy solitary hobbies or activities more than group ones.">
                            <input class="personality_answer_disagree" type="radio" name="q22" id="q22" value="I don't enjoy solitary hobbies or activities more than group ones.">
                            
                            <br>
                            <label class="personality_question" for="q23">You cannot imagine yourself writing fictional stories for a living.</label>
                            <input class="personality_answer_agree" type="radio" name="q23" id="q23" value="I cannot imagine myself writing fictional stories for a living.">
                            <input class="personality_answer_disagree" type="radio" name="q23" id="q23" value="I can imagine myself writing fictional stories for a living.">
                            
                            <br>
                            <label class="personality_question" for="q24">You favor efficiency in decisions, even if it means disregarding some emotional aspects.</label>
                            <input class="personality_answer_agree" type="radio" name="q24" id="q24" value="I favor efficiency in decisions, even if it means disregarding some emotional aspects.">
                            <input class="personality_answer_disagree" type="radio" name="q24" id="q24" value="I dont favor efficiency in decisions, even if it means disregarding some emotional aspects.">
                            
                            <br>
                            <label class="personality_question" for="q25">You prefer to do your chores before allowing yourself to relax.</label>
                            <input class="personality_answer_agree" type="radio" name="q25" id="q25" value="I prefer to do your chores before allowing yourself to relax.">
                            <input class="personality_answer_disagree" type="radio" name="q25" id="q25" value="I don't prefer to do your chores before allowing yourself to relax.">
                            
                            <br>
                            <label class="personality_question" for="q26">In disagreements, you prioritize proving your point over preserving the feelings of others.</label>
                            <input class="personality_answer_agree" type="radio" name="q26" id="q26" value="In disagreements, I prioritize proving my point over preserving the feelings of others.">
                            <input class="personality_answer_disagree" type="radio" name="q26" id="q26" value="In disagreements, I don't prioritize proving my point over preserving the feelings of others.">
                            
                            <br>
                            <label class="personality_question" for="q27">You usually wait for others to introduce themselves first at social gatherings.</label>
                            <input class="personality_answer_agree" type="radio" name="q27" id="q27" value="I usually wait for others to introduce themselves first at social gatherings.">
                            <input class="personality_answer_disagree" type="radio" name="q27" id="q27" value="I don't usually wait for others to introduce themselves first at social gatherings. I ask them their names immediately.">
                            
                            <br>
                            <label class="personality_question" for="q28">Your mood can change very quickly.</label>
                            <input class="personality_answer_agree" type="radio" name="q28" id="q28" value="my mood can change very quickly.">
                            <input class="personality_answer_disagree" type="radio" name="q28" id="q28" value="my mood won't change very quickly.">
                            
                            <br>
                            <label class="personality_question" for="q29">You are not easily swayed by emotional arguments.</label>
                            <input class="personality_answer_agree" type="radio" name="q29" id="q29" value="I am not easily swayed by emotional arguments.">
                            <input class="personality_answer_disagree" type="radio" name="q29" id="q29" value="I am easily swayed by emotional arguments.">
                            
                            <br>
                            <label class="personality_question" for="q30">You often end up doing things at the last possible moment.</label>
                            <input class="personality_answer_agree" type="radio" name="q30" id="q30" value="I often end up doing things at the last possible moment.">
                            <input class="personality_answer_disagree" type="radio" name="q30" id="q30" value="I don't end up doing things at the last possible moment.">
                            
                        </div>

                        <label class="Section_4" for="Section_4">Section 4</label>
                        <input type="checkbox" id="Section_4" style="display:none;">
                        <div id="hidden">
                            <p class="agree_diagree">Agree Disagree</p>
                            
                            <br>
                            <label class="personality_question" for="q31">You enjoy debating ethical dilemmas.</label>
                            <input class="personality_answer_agree" type="radio" name="q31" id="q31" value="I enjoy debating ethical dilemmas.">
                            <input class="personality_answer_disagree" type="radio" name="q31" id="q31" value="I don't enjoy debating ethical dilemmas.">
                            
                            <br>
                            <label class="personality_question" for="q32">You usually prefer to be around others rather than on your own.</label>
                            <input class="personality_answer_agree" type="radio" name="q32" id="q32" value="I usually prefer to be around others rather than on my own.">
                            <input class="personality_answer_disagree" type="radio" name="q32" id="q32" value="I prefer to be on my own.">
                            
                            <br>
                            <label class="personality_question" for="q33">You become bored or lose interest when the discussion gets highly theoretical.</label>
                            <input class="personality_answer_agree" type="radio" name="q33" id="q33" value="I become bored or lose interest when the discussion gets highly theoretical.">
                            <input class="personality_answer_disagree" type="radio" name="q33" id="q33" value="I don't become bored or lose interest when the discussion gets highly theoretical.">
                            
                            <br>
                            <label class="personality_question" for="q34">When facts and feelings conflict, you usually find yourself following your heart.</label>
                            <input class="personality_answer_agree" type="radio" name="q34" id="q34" value="When facts and feelings conflict, I usually find myself following my heart.">
                            <input class="personality_answer_disagree" type="radio" name="q34" id="q34" value="When facts and feelings conflict, I don't usually find myself following my heart.">
                            
                            <br>
                            <label class="personality_question" for="q35">You find it challenging to maintain a consistent work or study schedule.</label>
                            <input class="personality_answer_agree" type="radio" name="q35" id="q35" value="I find it challenging to maintain a consistent work or study schedule.">
                            <input class="personality_answer_disagree" type="radio" name="q35" id="q35" value="I don't find it challenging to maintain a consistent work or study schedule.">
                            
                            <br>
                            <label class="personality_question" for="q36">You rarely second-guess the choices that you have made.</label>
                            <input class="personality_answer_agree" type="radio" name="q36" id="q36" value="I rarely second-guess the choices that you have made.">
                            <input class="personality_answer_disagree" type="radio" name="q36" id="q63" value="I don't second-guess the choices that you have made.">
                            
                            <br>
                            <label class="personality_question" for="q37">Your friends would describe you as lively and outgoing.</label>
                            <input class="personality_answer_agree" type="radio" name="q37" id="q37" value="My friends would describe me as lively and outgoing.">
                            <input class="personality_answer_disagree" type="radio" name="q37" id="q37" value="My friends wouldn't describe me as lively and outgoing.">
                            
                            <br>
                            <label class="personality_question" for="q38">You are drawn to various forms of creative expression, such as writing.</label>
                            <input class="personality_answer_agree" type="radio" name="q38" id="q38" value="I am drawn to various forms of creative expression, such as writing.">
                            <input class="personality_answer_disagree" type="radio" name="q38" id="q38" value="I am not drawn to various forms of creative expression, such as writing.">
                            
                            <br>
                            <label class="personality_question" for="q39">You usually base your choices on objective facts rather than emotional impressions.</label>
                            <input class="personality_answer_agree" type="radio" name="q39" id="q39" value="I usually base my choices on objective facts rather than emotional impressions.">
                            <input class="personality_answer_disagree" type="radio" name="q39" id="q39" value="I don't usually base my choices on objective facts rather than emotional impressions.">
                            
                            <br>
                            <label class="personality_question" for="q40">You like to have a to-do list for each day.</label>
                            <input class="personality_answer_agree" type="radio" name="q40" id="q40" value="I like to have a to-do list for each day.">
                            <input class="personality_answer_disagree" type="radio" name="q40" id="q40" value="I don't like to have a to-do list for each day.">
                            
                        </div>

                        <label class="Section_5" for="Section_5">Section 5</label>
                        <input type="checkbox" id="Section_5" style="display:none;">
                        <div id="hidden">
                            <p class="agree_diagree">Agree Disagree</p>
                            
                            <br>
                            <label class="personality_question" for="q41">You rarely feel insecure.</label>
                            <input class="personality_answer_agree" type="radio" name="q41" id="q41" value="I rarely feel insecure.">
                            <input class="personality_answer_disagree" type="radio" name="q41" id="q41" value="I feel insecure a lot.">
                            
                            <br>
                            <label class="personality_question" for="q42">You avoid making phone calls.</label>
                            <input class="personality_answer_agree" type="radio" name="q42" id="q42" value="I avoid making phone calls.">
                            <input class="personality_answer_disagree" type="radio" name="q42" id="q42" value="I make a lot of phone calls.">
                            
                            <br>
                            <label class="personality_question" for="q43">You enjoy exploring unfamiliar ideas and viewpoints.</label>
                            <input class="personality_answer_agree" type="radio" name="q43" id="q43" value="I enjoy exploring unfamiliar ideas and viewpoints.">
                            <input class="personality_answer_disagree" type="radio" name="q43" id="q43" value="I don't enjoy exploring unfamiliar ideas and viewpoints.">
                            
                            <br>
                            <label class="personality_question" for="q44">You can easily connect with people you have just met.</label>
                            <input class="personality_answer_agree" type="radio" name="q44" id="q44" value="I can easily connect with people you have just met.">
                            <input class="personality_answer_disagree" type="radio" name="q44" id="q44" value="I cannot easily connect with people you have just met.">
                            
                            <br>
                            <label class="personality_question" for="q45">If your plans are interrupted, your top priority is to get back on track as soon as possible.</label>
                            <input class="personality_answer_agree" type="radio" name="q45" id="q45" value="If my plans are interrupted, my top priority is to get back on track as soon as possible.">
                            <input class="personality_answer_disagree" type="radio" name="q45" id="q45" value="If my plans are interrupted, my top priority isn't to get back on track as soon as possible.">
                            
                            <br>
                            <label class="personality_question" for="q46">You are still bothered by mistakes that you made a long time ago.</label>
                            <input class="personality_answer_agree" type="radio" name="q46" id="q46" value="I am still bothered by mistakes that I made a long time ago.">
                            <input class="personality_answer_disagree" type="radio" name="q46" id="q46" value="I am not bothered by mistakes that I made a long time ago.">
                            
                            <br>
                            <label class="personality_question" for="q47">You cannot imagine devoting yourself to a purely theoretical or esoteric field of study.</label>
                            <input class="personality_answer_agree" type="radio" name="q47" id="q47" value="I cannot imagine devoting myself to a purely theoretical or esoteric field of study.">
                            <input class="personality_answer_disagree" type="radio" name="q47" id="q47" value="I can imagine devoting myself to a purely theoretical or esoteric field of study.">
                            
                            <br>
                            <label class="personality_question" for="q48">Your emotions control you more than you control them.</label>
                            <input class="personality_answer_agree" type="radio" name="q48" id="q48" value="My emotions control me more than I control them.">
                            <input class="personality_answer_disagree" type="radio" name="q48" id="q48" value="My emotions don't control me more than I control them.">
                            
                            <br>
                            <label class="personality_question" for="q49">When making decisions, you focus more on how the affected people might feel than on what is most logical or efficient.</label>
                            <input class="personality_answer_agree" type="radio" name="q49" id="q49" value="When making decisions, I focus more on how the affected people might feel than on what is most logical or efficient.">
                            <input class="personality_answer_disagree" type="radio" name="q49" id="q49" value="When making decisions, I don't focus on how the affected people might feel than on what is most logical or efficient.">
                            
                            <br>
                            <label class="personality_question" for="q50">Your personal work style is closer to spontaneous bursts of energy than organized and consistent efforts.</label>
                            <input class="personality_answer_agree" type="radio" name="q50" id="q50" value="My personal work style is closer to spontaneous bursts of energy than organized and consistent efforts.">
                            <input class="personality_answer_disagree" type="radio" name="q50" id="q50" value="My personal work style is closer to organized and consistent efforts.">
                            
                        </div>

                        <label class="Section_6" for="Section_6">Section 6</label>
                        <input type="checkbox" id="Section_6" style="display:none;">
                        <div id="hidden">
                            <p class="agree_diagree">Agree Disagree</p>
                            
                            <br>
                            <label class="personality_question" for="q51">When someone thinks highly of you, you wonder how long it will take them to feel disappointed in you.</label>
                            <input class="personality_answer_agree" type="radio" name="q51" id="q51" value="When someone thinks highly of me, I wonder how long it will take them to feel disappointed in me.">
                            <input class="personality_answer_disagree" type="radio" name="q51" id="q51" value="When someone thinks highly of me, I feel proud.">
                            
                            <br>
                            <label class="personality_question" for="q52">You would love a job that requires you to work alone most of the time.</label>
                            <input class="personality_answer_agree" type="radio" name="q52" id="q52" value="I would love a job that requires me to work alone most of the time.">
                            <input class="personality_answer_disagree" type="radio" name="q52" id="q52" value="I would love a job that requires me to interact with others most of the time.">
                            
                            <br>
                            <label class="personality_question" for="q53">You believe that pondering abstract philosophical questions is a waste of time.</label>
                            <input class="personality_answer_agree" type="radio" name="q53" id="q53" value="I believe that pondering abstract philosophical questions is a waste of time.">
                            <input class="personality_answer_disagree" type="radio" name="q53" id="q53" value="I believe that pondering abstract philosophical questions is beneficial.">
                            
                            <br>
                            <label class="personality_question" for="q54">You feel more drawn to busy, bustling atmospheres than to quiet, intimate places.</label>
                            <input class="personality_answer_agree" type="radio" name="q54" id="q54" value="I feel more drawn to busy, bustling atmospheres than to quiet, intimate places.">
                            <input class="personality_answer_disagree" type="radio" name="q54" id="q54" value="i feel drawn to quiet, intimate places.">
                            
                            <br>
                            <label class="personality_question" for="q55">If a decision feels right to you, you often act on it without needing further proof.</label>
                            <input class="personality_answer_agree" type="radio" name="q55" id="q55" value="If a decision feels right to me, I often act on it without needing further proof.">
                            <input class="personality_answer_disagree" type="radio" name="q55" id="q55" value="Even if a decision feels right to me, I don't act on it without further proof.">
                            
                            <br>
                            <label class="personality_question" for="q56">You often feel overwhelmed.</label>
                            <input class="personality_answer_agree" type="radio" name="q56" id="q56" value="I often feel overwhelmed.">
                            <input class="personality_answer_disagree" type="radio" name="q56" id="q56" value="You often feel overwhelmed.">
                            
                            <br>
                            <label class="personality_question" for="q57">You complete things methodically without skipping over any steps.</label>
                            <input class="personality_answer_agree" type="radio" name="q57" id="q57" value="I complete things methodically without skipping over any steps.">
                            <input class="personality_answer_disagree" type="radio" name="q57" id="q57" value="I complete things by skipping over any steps.">
                            
                            <br>
                            <label class="personality_question" for="q58">You prefer tasks that require you to come up with creative solutions rather than follow concrete steps.</label>
                            <input class="personality_answer_agree" type="radio" name="q58" id="q58" value="I prefer tasks that require me to come up with creative solutions rather than follow concrete steps.">
                            <input class="personality_answer_disagree" type="radio" name="q58" id="q58" value="I prefer tasks that require me to follow concrete steps.">
                            
                            <br>
                            <label class="personality_question" for="q59">You are more likely to rely on emotional intuition than logical reasoning when making a choice.</label>
                            <input class="personality_answer_agree" type="radio" name="q59" id="q59" value="I am more likely to rely on emotional intuition than logical reasoning when making a choice.">
                            <input class="personality_answer_disagree" type="radio" name="q59" id="q59" value="I am less likely to rely on emotional intuition than logical reasoning when making a choice.">
                            
                            <br>
                            <label class="personality_question" for="q60">You struggle with deadlines.</label>
                            <input class="personality_answer_agree" type="radio" name="q60" id="q60" value="I struggle with deadlines.">
                            <input class="personality_answer_disagree" type="radio" name="q60" id="q60" value="I don't struggle with deadlines.">
                            
                        </div>
                    </div>
                    <br>
                    <button class="predict_button" type="submit">Suggest</button>   
                </form>
                <form action="Home" method="post">
                    <button class="clear_button" type="submit">Clear all choices</button>
                </form>
            </div>
            <div class="result">
                <div class="prediction_text_title">
                    {{prediction_text_title | safe}}
                <br> 
                </div>
                <div class="prediction_text_description">
                    {{prediction_text_description | safe}}
                <br> 
                </div>
                <div class="prediction_text_careers">
                    {{prediction_text_careers | safe}}
                </div>
                <div class="prediction_text_careers_list">
                    {{prediction_text_careers_list | safe}}
                <br> 
                </div>
            </div>    

        </div>
        <br>
        <br>

    </body>
</html>